body {
    background-color: #d6ece5;
}
hr {
    width: 90%;
    margin: auto;
}
#credit-div {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 15px;
    border: 2px solid #636161;
    border-radius: 8px;
    margin: 30px auto;
}
#credit-div button {
    width: 150px;
}
#credit-div form input {
    margin-bottom: 20px;
}
#registered-card {
    box-sizing: border-box;
    margin: 0 auto 50px;
    width: 40%;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
#info-div {
    position: relative;
    top: 200px;
}
#info-div p {
    letter-spacing: 2px;
}
#balance {
    box-sizing: border-box;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #494848b9;
    margin: 0 auto 50px;
    padding: 20px 0;
    background-color: #214438;
    color: white;
    cursor: pointer;
}
#balance:hover {
    background-color: #3b725f;
}