body {
    background-color: #d6ece5;
}
hr {
    width: 90%;
    margin: auto;
}
.product-div, .credit-div, .buy-div {
    box-sizing: border-box;
    width: 70%;
    padding: 10px 15px;
    margin: 30px auto;
    border: 2px solid #646363da;
    border-radius: 7px;
}
.product-div img {
    width: 100px;
    height: auto;
    border: 1px dotted #3a3939b4;
    border-radius: 5px;
}
#order-table {
    width: 100%;
    margin: 0 20px;
    border-radius: 10px!important;
    text-align: center;
}
#order-table th {
    background-color: #37378bcb;
    color: white;
}
#order-table th,
#order-table td {
    border: 1px solid #0d0d55cb;
}

.credit-div table {
    width: 90%;
    margin: auto;
    text-align: center;
}
.credit-div table tbody,
.credit-div table thead {
    margin: 10px 0;
}
.credit-div table img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: 1px solid wheat;
}
.buy-div form input {
    border: 1px solid #383737e0;
    margin-bottom: 10px; 
}
.buy-line {
    width: 100%;
}
#checkout-button {
    background-color: #115474;
    color: white;
    border-radius: 5px;
    border: 2px solid #115474;
    padding: 7px 15px;
}
#checkout-button:hover {
    background-color: #2b5d74;
}
#checkout-button:active {
    position: relative;
    top: 2px;
}
#alert-div {
    width: 70%;
    margin: auto;
    display: none;
}