{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- Title Block -->
{% block title %}Product Detail Page{% endblock title %}

<!-- CSS Block -->
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'levelup_app/css/detail.css' %}">
{% endblock css_styles %}

<!-- Main Content Block -->
{% block content %}
    <h3 class="text-center mt-3 mb-3">Product Detail Page</h3>
    <hr>
    <div id="product-div">
        <h4 class="text-center m-0">{{ product.name }}</h4>
        <img src="{{ product.image.url }}" alt="product-image">

        <table class="text-center m-0 mt-2">
            <thead>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>${{ product.price|floatformat:2 }}</td>
            </tbody>
        </table>

        <hr class="m-1">
        <div class="d-flex justify-content-around align-items-center">
            <a href="{% if user.is_authenticated %}{% url 'save-in-cart' pk=product.id %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-secondary">Save Product To Cart ~ <strong><i class="bi bi-cart-check"></i></strong></a>
            {% if product.quantity|greater_than %}
                {% if product.provider != user %}
                    <a href="{% if user.is_authenticated %}{% url 'order' pk=product.id %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-primary">Order Product ~ <strong><i class="bi bi-bag-heart-fill"></i></strong></a>
                {% endif %}
            {% else %}
                <button class="btn btn-danger">Not In Selling Anymore ~ <strong><i class="bi bi-sign-do-not-enter-fill"></i></strong></button>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}