{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- Title Block -->
{% block title %}Home Page{% endblock title %}

<!-- CSS Block -->
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'levelup_app/css/home.css' %}">
{% endblock css_styles %}

<!-- Main Content Block -->
{% block content %}
    <div>
        <!-- personal information -->
        {% if user.user_image.image.url %}
            <div class="image-div" style="background-image: url('{{ user.user_image.image.url }}');"></div>
        {% else %}
            <div class="image-div" style="background-image: url({% static 'levelup_app/images/user.png' %});"></div>
        {% endif %}
        
        <h4 class="text-center mt-2">{{ user.first_name }} {{ user.last_name }} - "{{ user.username }}"</h4>
        {% if user.is_superuser %}
          <h5 class="text-center fw-bold mt-2">Administrator</h5>
        {% endif %}
        <!-- calculation links -->
        <div class="d-flex justify-content-around align-items-center info-div">
            <a href="{% url 'own' %}">My Own Products</a>
            <a href="{% url 'saved' %}">Saved Products</a>
            <a href="{% url 'purchased' %}">Purchased Products</a>
            <a href="{% url 'sold' %}">Sold Products</a>
            <a href="{% url 'credit-card' %}">My Card</a>
            <a href="{% url 'update-image' %}">Update Profile Image</a>
            <a href="{% url 'add' %}">Add New Product</a>
        </div>
    </div>
    <hr>
    <h4 class="text-center mt-4 mb-4">
        Desired Information &nbsp; <i class="bi bi-info-circle-fill text-primary"></i> &nbsp; Statistics
    </h4>
    <!-- Tabs Section -->
    <div id="tab-div">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Get Quantity of Product</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Get Product's Average Price</button>
            <button class="nav-link" id="nav-profit-tab" data-bs-toggle="tab" data-bs-target="#nav-profit" type="button" role="tab" aria-controls="nav-profit" aria-selected="false">Get Product's Profit</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Get Fewest Product</button>
            <button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular" type="button" role="tab" aria-controls="nav-popular" aria-selected="false">Get Most Popular Product</button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <!-- GET QUANTITY OF PRODUCT -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="searchDiv">
                <!-- Search Bar Component -->
                <form action="#">
                    <i class="bi bi-search"></i>
                    <input type="text" name="" id="searchProduct" placeholder="Search Products" onkeyup="filterProducts()">
                </form>
            </div>
            <!-- Products -->
            <ul class="text-center quantity-list" id="myList">
                {% for product in products %}
                    <li class="actualProduct">
                        <img src="{{ product.image.url }}" alt="">
                        <span class="product-heading">{{ product.name }}</span>
                        <span>{{ product.quantity }}
                            {% if product.quantity|greater_than %}
                                <i class="bi bi-bag-check-fill text-success"></i>
                            {% else %}
                                <i class="bi bi-bag-x-fill text-danger"></i>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- GET AVERAGE PRICE -->
        <div class="tab-pane fade text-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="searchDiv">
                <!-- Search Bar Component -->
                <form action="#">
                    <i class="bi bi-search"></i>
                    <input type="text" name="" id="search-product" placeholder="Search Products" onkeyup="filterProductAverage()">
                </form>
            </div>

            <div id="avg-div">
                <ul id="my-list">
                    {% for product in product_avg_prices %}
                        {% if user.is_authenticated %}
                            {% if product.product|provider != user %}
                                <li class="actual-product">
                                    <img src="{{ product.product|product_image }}" alt="product-image">
                                    <span class="my-product-heading">{{ product.product|product_name }}</span>
                                    <span><strong>$ {{ product.avg_money|floatformat:2 }}</strong></span>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- GET PRODUCT PROFIT -->
        <div class="tab-pane fade text-center" id="nav-profit" role="tabpanel" aria-labelledby="nav-profit-tab" tabindex="0">
            {% for item in product_profit_prices %}
                <p>{{ item }}</p>
            {% endfor %}
        </div>

        <!-- GET FEWEST PRODUCT -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            <div class="text-center">
                <p id="fewest-product">
                    <img src="{{ fewest_product.image.url }}" alt="product-image">
                    <span>{{ fewest_product.name }}</span>
                    <span><i>Remaining Quantity:</i> &nbsp; <strong>{{ fewest_product.quantity }}</strong></span>
                </p>
            </div>
        </div>

        <!-- GET MOST POPULAR PRODUCT -->
        <div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab" tabindex="0">
            <div class="text-center">
                <p id="most-popular-product">
                    <img src="{{ most_popular_product.product|product_image }}" alt="product-image">
                    <span>{{ most_popular_product.product|product_name }}</span>
                    <span><i>Bought Quantity:</i> &nbsp;<strong>{{ most_popular_product.total_quantity }}</strong></span>
                </p>
            </div>
        </div>

    </div>
{% endblock content %}

<!-- JavaScript Block -->
{% block javascript %}
    <script src="{% static 'levelup_app/javascript/home.js' %}"></script>
{% endblock javascript %}