{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- Title Block -->
{% block title %}Order Page{% endblock title %}

<!-- CSS Block -->
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'levelup_app/css/order.css' %}">
{% endblock css_styles %}

<!-- Main Content Block -->
{% block content %}
    <h3 class="text-center mt-5 mb-4">Order Page</h3>
    <hr>
    <div class="product-div">
        <h5 class="text-start fw-bold mb-4">Order Details</h5>
        <div class="d-flex justify-content-start align-items-start">
            <img src="{{ product.image.url }}" alt="product-image">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Total Quantity</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>$<span id="product_price">{{ product.price }}</span></td>
                </tbody>
            </table>
        </div>
    </div>

    <div class="credit-div">
        <h5 class="text-start fw-bold mb-4">Payment Details</h5>
        {% if user.usercreditcard %}
            <table>
                <thead>
                    <th>MasterCard</th>
                    <th>Name on Card</th>
                    <th>Card number</th>
                    <th>Expiration date</th>
                </thead>
                <tbody>
                    <td><img src="{% static 'levelup_app/images/card.png' %}" alt="card-image"></td>
                    <td>{{ user.usercreditcard.name_on_card }}</td>
                    <td>{{ user.usercreditcard.card_number|last_four }}</td>
                    <td>{{ user.usercreditcard.expire_date }}</td>
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="buy-div">
        <h5 class="text-start fw-bold mb-2">Purchase Product</h5>
        <hr class="buy-line mb-2">
        <h6 class="mb-5 d-flex justify-content-between align-items-center">
            <span>Summary</span>
            <span><strong>Total Price:</strong> $<b id="total_price">0</b></span>
        </h6>
        <form action="#" class="text-center">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input type="hidden" name="hidden_total_price" id="hidden_total_price" value="0">
            <button class="btn btn-primary">Complete Checkout</button>
        </form>
    </div>
{% endblock content %}

<!-- JavaScript Logic -->
{% block javascript %}
    <script src="{% static 'levelup_app/javascript/order.js' %}"></script>
{% endblock javascript %}