{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- Title Block -->
{% block title %}Purchased Page{% endblock title %}

<!-- CSS Block -->
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'levelup_app/css/purchased.css' %}">
{% endblock css_styles %}

<!-- Main Content Block -->
{% block content %}
    <h3 class="text-center mt-5 mb-4">Purchased Products Page</h3>
    <hr>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Spent Money</th>
                    <th>Purchased Time</th>
                    <th>Product Provider</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td><img src="{{ item.product.image.url }}" alt="product-image"></td>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>$&nbsp;<span class="money_spent">{{ item.money_spent|floatformat:2 }}</span></td>
                        <td>{{ item.date_purchased }}</td>
                        <td>{{ item.product.provider.username }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">Total Spending:&nbsp;&nbsp; $&nbsp;<span id="total-spent"></span></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'levelup_app/javascript/purchased.js' %}"></script>
{% endblock javascript %}