{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- Title Block -->
{% block title %}Saved Products Page{% endblock title %}

<!-- CSS Block -->
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'levelup_app/css/saved.css' %}">
{% endblock css_styles %}

<!-- Main Content Block -->
{% block content %}
    <h3 class="text-center mt-5 mb-4">Saved Products Page</h3>
    <hr id="main-hr">
    {% for item in saved_products %}
        <div class="product-div">
            <h4 class="text-center m-0 pt-2 pb-2">{{ item.product.name }}</h4>
            <img src="{{ item.product.image.url }}" alt="product-image">
            <p class="text-start m-0 mt-2 ps-2">Quantity:&nbsp;&nbsp; <strong>{{ item.product.quantity }}</strong></p>
            <p class="text-start m-0 mt-2 ps-2">Price:&nbsp;&nbsp; <strong>${{ item.product.price }}</strong></p>
            <hr>
            <div class="text-center">
                {% if item.product.quantity|greater_than %}
                    <a href="{% if user.is_authenticated %}{% url 'order' pk=item.product.id %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-primary">Order Product ~ <strong><i class="bi bi-bag-heart-fill"></i></strong></a>
                {% else %}
                    <button class="btn btn-warning">Not In Selling Anymore <strong><i class="bi bi-sign-do-not-enter-fill"></i></strong></button>
                {% endif %}
                <a class="btn btn-danger m-2" href="{% url 'remove-from-cart' pk=item.id %}">Remove Product ~ <strong><i class="bi bi-trash3-fill"></i></strong></a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}